@import '../../scss/variables';

.root {
    padding: 5rem;

    * {
        text-align: center;
        font-family: $font !important;
    }
    
    .text {
        font-size: 18px;
    }
}